# Volumes folder
volumes/
# Rails specifics
/rails/*.rbc
/rails/capybara-*.html
/rails/.rspec
/rails/log
/rails/tmp
/rails/db/*.sqlite3
/rails/db/*.sqlite3-journal
/rails/public/system
/rails/coverage/
/rails/spec/tmp
/rails/**.orig
/rails/rerun.txt
/rails/pickle-email-*.html

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
/rails/config/initializers/secret_token.rb
/rails/config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
.env

## Environment normalization:
/rails/.bundle
/rails/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
/rails/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/rails/vendor/assets/bower_components
/rails/*.bowerrc
/rails/bower.json

# Ignore pow environment settings
/rails/.powenv

# Ignore Byebug command history file.
/rails/.byebug_history
