<header>
  <h1>
    Welcome to the world!
  </h1>
  <h2>
    We're using Rails <%= Rails.version %>
  </h2>
</header>
<section>
  <p>
    Future home of your Dashboard
  </p>
  <p>
  Verify in the javascript console that <em>"Hello world"</em> is being displayed. That will ensure that Webpack is running properly.
  </p>
</section>

